@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Risque&display=swap');
 
body {
  display: grid;
  grid-template-areas:
    'nav header header'
    'nav orderDescr status'
    'nav customer items'
    'nav customer map'
    'nav orderNotes map';
  grid-template-rows: 90px 123px 408.5px 1fr 485px;
  grid-template-columns: 19% 1fr 58%;
  height: 100vh;
  margin: 0;

  font-family: 'Poppins';
  font-size: 22px;
  background-color: #F9F9F9;
}

.nav {
  grid-area: nav;
}

.header {
  grid-area: header;
}

.orderDescr {
  grid-area: orderDescr;
}

.status {
  grid-area: status;
}

.customer {
  grid-area: customer;
}

.items {
  grid-area: items;
}

.orderNotes {
  grid-area: orderNotes;
}

.map {
  grid-area: map;
}

/* ?nav */

.nav {
  display: grid;
  grid-template-rows: 114px 1fr 180px;
  grid-template-columns: 1fr;

  background-color: #FFFFFF;
}

.nav__top-block {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 75px 72px 1fr;

  margin-top: 40px;
}

.logo {
  position: relative;
  margin-left: 29px;
}

.logo__rectangle{
  width: 40px;
  height: 39.57px;
}

.logo__vector {
  position: absolute;
  width: 20px;
  height: 19.78px;
  top: 6.89px;
  left: 10px;
}

.company-name {
  margin-top: 10px;
  margin-left: 6px;

  font-family: 'Risque';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;

  color: #111111;
}

.company-name p {
  margin: 0;
}

.hamburger-menu {
  margin-top: 11px;
  margin-left: auto;
  margin-right: 31px;
}

.nav__main-block {
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  
  margin-top: 15px;
  margin-left: 31px;

  height: 496px;
  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;

  color: #7A7A7A;
}

.nav__main-block div {
  display: flex;
  align-items: center;

  padding-top: 20px;
  padding-bottom: 20px;
}

.nav__main-block a {
  margin-left: 30px;

  text-decoration: none;
  color: #7A7A7A;
}

.menu-button {
  margin-left: 3px;
}

.bracketImg {
  margin-left: auto;
  margin-right: 30px;
}

.analytics-button {
  margin-left: 2px;
}

.analytics-button a {
  margin-left: 33px;
}

.addMenus {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  
  margin-bottom: 30px;
  margin-left: 33px;
  
  width: 200px;
  height: 150px;

  background: linear-gradient(180deg, #4D64E1 0%, #9956F4 100%);
  border-radius: 21px;
}

.addMenus p {
  margin: 0;
  margin-top: 32px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;

  color: #FFFFFF;
}

.addMenus-button {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 23px;

  width: 157px;
  height: 37.27px;

  background: #FFFFFF;
  border-radius: 5px;
}

.addMenus-button p {
  margin: 0;
  margin-left: 10px;
  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  color: #000000;
}

/* ?header */

.header {
  display: grid;
  grid-template-columns: 349px 220px 214px;
  align-items: center;
  justify-content: space-between;

  position: relative;
  
  margin-left: 30px;

  background: #FFFFFF;
}

.header input {
  margin-left: 20px;
  border: 0;
  border-radius: 50px;
  padding-left: 30px;

  width: 319px;
  height: 60px;

  background: #F9F9F9;
  
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;

  color: #BDBDBD;
}

.header .button-container {
  display: grid;
  grid-template-columns: 60px 60px 60px;
  column-gap: 20px;

  position: absolute;
  right: 350px;
  
  margin-left: auto;
  margin-right: auto;
}

.header button {
  position: relative;

  border: 0;
  border-radius: 10px;

  width: 60px;
  height: 60px;

    
  background: #E9EBFF;
}

.header .btn-shopping-bag::after { 
  content: '25';
  
  position: absolute;
  min-width: 20px;
  min-height: 20px;
  bottom: 45px;
  left: 45px;

  border-radius: 10px;

  background: #4D64E1;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 20px;

  color: #FFFFFF;
}

.header .btn-chat::after { 
  content: '2';
  
  position: absolute;
  min-width: 20px;
  min-height: 20px;
  bottom: 45px;
  left: 45px;

  border-radius: 10px;

  background: #9956F4;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 20px;

  color: #FFFFFF;
}

.header .btn-bell::after { 
  content: '2';
  
  position: absolute;
  min-width: 20px;
  min-height: 20px;
  bottom: 45px;
  left: 45px;

  border-radius: 10px;

  background: #C4C4C4;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 20px;

  color: #FFFFFF;
}

.header .hello {
  display: grid;
  grid-template-columns: 120px 60px;
  justify-content: space-between;
  align-items: center;

  position: absolute;
  right: 30px;
  
  width: 214px;
  height: 60px;
  
  background: #4D64E1;
  border-radius: 8px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;

  color: #FFFFFF;
}

.header .hello p {
  margin: 0;
  margin-left: 15px;
}

.header .hello img {
  margin-left: auto;
  margin-right: 15px;
}

/* ?orderDescr */

.orderDescr {
  display: grid;
  grid-template-areas: 
  'orderID orderID'
  'order orderDetails';
  justify-self: start;
  align-self: center;
  align-content: start;

  margin-left: 30px;
}

.orderDescr .orderID {
  grid-area: orderID;

  padding-top: 5px;

  text-decoration: none;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;

  color: #111111;
}

.orderDescr .order {
  grid-area: order;

  padding-top: 12px;

  text-decoration: none;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;

  color: #6C63FF;
}

.orderDescr .orderDetails {
  grid-area: orderDetails;

  padding-top: 12px;
  padding-left: 5px;

  text-decoration: none;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;

  color: #7A7A7A;
}

/* ?status */

.status {
  margin-top: 30px;
  margin-right: 30px;

  display: grid;
  grid-template-columns: 30% 70%;
  align-content: center;

  justify-self: end;

  width: 195px;
  height: 56px;

  background: #F9FAFE;
  box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.status img {
  padding-top: 2px;
  padding-left: 30px;
}

.status p {
  margin: 0;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #000000;
}

/* ?customer */

.customer {
  margin-left: 30px;

  display: grid;
  grid-template-rows: auto 239px;
  
  background: #FFFFFF;
  border-radius: 18px;
}

.customer__description {
  display: grid;
  grid-template-rows: 130px 50px 59px;
  justify-items: center;
  align-items: center;
}

.customer__description img {
  align-self: end;
  
  border-radius: 57.5px
}

.customer__description p {
  margin: 0;
}

.custumer__name {
  padding-top: 10px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  
  color: #111111;
}

.customer__text {
  padding-top: 5px;

  align-self: start;
  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: #7A7A7A;
}

.customer__order {
  display: grid;
  grid-template-rows: 65% 35%;
  
  background: #404A56;
  border-radius: 18px;
}

.customer__order-notes {
  display: grid;
  padding-top: 24px;
  padding-left: 20px;
  padding-right: 20px;

  overflow: auto;
}

.customer__order-notes p {
  margin: 0;

  font-family: 'Poppins';
  font-style: normal;

  color: #FFFFFF;
}

.customer__order-text1 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.customer__order-text2 {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.customer__order-arriving {
  display: grid;
  grid-template-columns: 35% 65%;
  align-items: center;
  
  background: #4E60FF;
  border-radius: 18px;
}

.customer__carImg {
  justify-self: center;

  display: flex;

  justify-content: center;
  align-items: center;


  width: 69px;
  height: 69px;

  border-radius: 34.5px;

  background: #FFFFFF;
}

.customer__address {
  justify-self: start;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: #FFFFFF;
}
