@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Risque&display=swap');
 

body {
  font-family: 'Poppins';
  font-size: 22px;
  background-color: #E5E5E5;
}

/* ?nav */

.nav {
  width: 260px;
}

.nav__top-block {
  display: flex;
}

.logo {
  position: relative;
  margin-left: 29px;
}

.logo__rectangle{
  width: 40px;
  height: 39.57px;
}

.logo__vector {
  position: absolute;
  width: 20px;
  height: 19.78px;
  top: 6.89px;
  left: 10px;
}

.company-name {
  margin-top: 10px;
  margin-left: 12px;

  font-family: 'Risque';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;

  color: #111111;
}

.company-name p {
  margin: 0;
}

.hamburger-menu {
  margin-top: 11px;
  margin-left: 59px;
}

.nav__main-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  margin-top: 65px;
  margin-left: 31px;

  height: 496px;
  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;

  color: #7A7A7A;
}

.nav__main-block div {
  display: flex;
} 

.nav__main-block a {
  margin-left: 30px;

  text-decoration: none;
  color: #7A7A7A;
}

.menu-button {
  margin-left: 3px;
}

.menu-button a {
  margin-right: 80px;
}

.customer-button a {
  margin-right: 41px;
}

.analytics-button {
  margin-left: 2px;
}

.analytics-button a {
  margin-left: 33px;
}
