@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Risque&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text&display=swap');
 
body {
  display: grid;
  grid-template-areas:
    'nav header header'
    'nav orderDescr status'
    'nav customer foodMenu'
    'nav customer delivery'
    'nav orderNotes delivery';
  grid-template-rows: 90px 123px 408.5px auto 485px;
  grid-template-columns: 19% 1fr 58%;
  
  height: 100vh;
  margin: 0;

  font-family: 'Poppins';
  font-size: 22px;
  background-color: #F9F9F9;
}

@media all and (max-width: 1100px) {
  body {
    grid-template-areas: 
    'header header'
    'nav customer'
    'nav orderNotes'
    'orderDescr status'
    'foodMenu foodMenu'
    'delivery delivery';
    grid-template-rows: 90px 500px 450px 120px 500px 500px;
    grid-template-columns: 250px 750px;
  }
}

.nav {
  grid-area: nav;
}

.header {
  grid-area: header;
}

.orderDescr {
  grid-area: orderDescr;
}

.status {
  grid-area: status;
}

.customer {
  grid-area: customer;
}

.foodMenu {
  grid-area: foodMenu;
}

.orderNotes {
  grid-area: orderNotes;
}

.delivery {
  grid-area: delivery;
}

/* ?nav */

.nav {
  display: grid;
  grid-template-rows: 114px 1fr 180px;
  grid-template-columns: 1fr;

  background-color: #FFFFFF;
}

.nav__top-block {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 75px 72px 1fr;

  margin-top: 40px;
}

.logo {
  position: relative;
  
  margin-left: 29px;
}

.logo__rectangle{
  width: 40px;
  height: 39.57px;
}

.logo__vector {
  position: absolute;
  
  width: 20px;
  height: 19.78px;
  top: 6.89px;
  left: 10px;
}

.company-name {
  margin-top: 10px;
  margin-left: 6px;

  font-family: 'Risque';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;

  color: #111111;
}

.company-name p {
  margin: 0;
}

.hamburger-menu {
  height: 15px;

  margin-top: 11px;
  margin-left: auto;
  margin-right: 31px;
}

.hamburger-menu:hover {
  cursor: pointer;
  box-shadow: 1px 1px 2px gray;
}

.nav__main-block {
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  
  height: 496px;
  margin-top: 15px;
  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;

  color: #7A7A7A;
}

.nav__main-block div {
  display: flex;
  align-items: center;

  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
}

.nav__main-block div:hover {
  cursor: pointer;
  box-shadow: inset 7px 0px #6779DF;;
  background: #F9FAFE;
}

.nav__main-block a {
  margin-left: 30px;

  text-decoration: none;
  color: #7A7A7A;
}

.menu-button {
  padding-left: 3px;
}

.bracketImg {
  margin-left: auto;
  margin-right: 30px;
}

.analytics-button {
  padding-left: 2px;
}

.analytics-button a {
  margin-left: 33px;
}

.addMenus {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  
  width: 200px;
  height: 150px;
  margin-bottom: 30px;
  margin-left: 33px;
  
  background: linear-gradient(180deg, #4D64E1 0%, #9956F4 100%);
  border-radius: 21px;
}

.addMenus p {
  margin: 0;
  margin-top: 32px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;

  color: #FFFFFF;
}

.addMenus-button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 157px;
  height: 37.27px;
  margin-bottom: 23px;

  background: #FFFFFF;
  border-radius: 5px;
}

.addMenus-button:hover {
  cursor: pointer;
  background: #C4C4C4;
}

.addMenus-button:active {
  background: #979797;
}

.addMenus-button p {
  margin: 0;
  margin-left: 10px;
  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  color: #000000;
}

/* ?header */

.header {
  display: grid;
  grid-template-columns: 349px 220px 214px;
  align-items: center;
  justify-content: space-between;

  position: relative;
  
  margin-left: 30px;

  background: #FFFFFF;
}

.header input {
  width: 319px;
  height: 60px;
  margin-left: 20px;
  border: 0;
  border-radius: 50px;
  padding-left: 30px;

  background: #F9F9F9;
  
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;

  color: #BDBDBD;
}

.header .button-container {
  display: grid;
  grid-template-columns: 60px 60px 60px;
  column-gap: 20px;

  position: absolute;
  right: 350px;
  
  margin-left: auto;
  margin-right: auto;
}

.button-container button {
  position: relative;

  width: 60px;
  height: 60px;
  border: 0;
  border-radius: 10px;
    
  background: #E9EBFF;
}

.button-container button:hover {
  cursor: pointer;
  box-shadow: 0px 3px 7px #8e8e8f;
}

.button-container .btn-shopping-bag::after { 
  content: '25';
  
  position: absolute;
  min-width: 20px;
  min-height: 20px;
  bottom: 45px;
  left: 45px;

  border-radius: 10px;

  background: #4D64E1;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 20px;

  color: #FFFFFF;
}

.button-container .btn-chat::after { 
  content: '2';
  
  position: absolute;
  min-width: 20px;
  min-height: 20px;
  bottom: 45px;
  left: 45px;

  border-radius: 10px;

  background: #9956F4;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 20px;

  color: #FFFFFF;
}

.button-container .btn-bell::after { 
  content: '2';
  
  position: absolute;
  min-width: 20px;
  min-height: 20px;
  bottom: 45px;
  left: 45px;

  border-radius: 10px;

  background: #C4C4C4;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 20px;

  color: #FFFFFF;
}

.header .hello {
  display: grid;
  grid-template-columns: 120px 60px;
  justify-content: space-between;
  align-items: center;

  width: 214px;
  height: 60px;
  position: absolute;
  right: 30px;
  
  background: #4D64E1;
  border-radius: 8px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;

  color: #FFFFFF;
}

.header .hello p {
  margin: 0;
  margin-left: 15px;
}

.header .hello img {
  margin-left: auto;
  margin-right: 15px;
}

.header .hello:hover {
  cursor: pointer;
  box-shadow: 0px 3px 7px #8e8e8f;
}

/* ?orderDescr */

.orderDescr {
  display: grid;
  grid-template-areas: 
  'orderID orderID'
  'order orderDetails';
  justify-self: start;
  align-self: center;
  align-content: start;

  margin-left: 30px;
}

.orderDescr .orderID {
  grid-area: orderID;

  padding-top: 5px;

  text-decoration: none;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;

  color: #111111;
}

.orderDescr .order {
  grid-area: order;

  padding-top: 12px;

  text-decoration: none;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;

  color: #6C63FF;
}

.orderDescr .orderDetails {
  grid-area: orderDetails;

  padding-top: 12px;
  padding-left: 5px;

  text-decoration: none;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;

  color: #7A7A7A;
}

/* ?status */

.status {
  display: grid;
  grid-template-columns: 30% 70%;
  align-content: center;
  justify-self: end;
  
  width: 195px;
  height: 56px;
  margin-top: 30px;
  margin-right: 30px;

  background: #F9FAFE;
  box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.status:hover {
  cursor: pointer;
  box-shadow: 0px 3px 7px #8e8e8f;
}

.status img {
  padding-top: 2px;
  padding-left: 30px;
}

.status p {
  margin: 0;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #000000;
}

/* ?customer */

.customer {
  display: grid;
  grid-template-rows: auto 239px;

  margin-left: 30px;
  
  background: #FFFFFF;
  border-radius: 18px;
}

.customer__description {
  display: grid;
  grid-template-rows: 130px 50px 59px;
  justify-items: center;
  align-items: center;
}

.customer__description img {
  align-self: end;
  
  border-radius: 57.5px
}

.customer__description p {
  margin: 0;
}

.custumer__name {
  padding-top: 10px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  
  color: #111111;
}

.customer__text {
  align-self: start;
  
  padding-top: 5px;
  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: #7A7A7A;
}

.customer__order {
  display: grid;
  grid-template-rows: 65% 35%;
  
  background: #404A56;
  border-radius: 18px;
}

.customer__order-notes {
  display: grid;

  padding-top: 24px;
  padding-left: 20px;
  padding-right: 20px;

  overflow: auto;
}

.customer__order-notes p {
  margin: 0;

  font-family: 'Poppins';
  font-style: normal;

  color: #FFFFFF;
}

.customer__order-text1 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.customer__order-text2 {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.customer__order-arriving {
  display: grid;
  grid-template-columns: 35% 65%;
  align-items: center;
  
  background: #4E60FF;
  border-radius: 18px;
}

.customer__carImg {
  justify-self: center;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 69px;
  height: 69px;

  background: #FFFFFF;
  border-radius: 34.5px;
}

.customer__address {
  justify-self: start;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: #FFFFFF;
}

/* ?orderNotes */

.orderNotes {
  display: grid;
  grid-template-rows: 24% repeat(4, 65px) auto;

  margin-top: 36px;
  margin-bottom: 60px;
  margin-left: 30px;

  background: #FFFFFF;
  border-radius: 18px;
}

.orderNotes__header {
  margin-top: 47px;
  margin-left: 7.3%;
  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;

  color: #000000;
}

/* orderNotes__4 */

.orderNotes__status-4 {
  display: grid;
  grid-template-areas: 
    'orderNotes__ellipseImg-4 orderNotes__textContainer-4'
    'orderNotes__rectangleImg-4 orderNotes__textContainer-4';
  grid-template-rows: 14px 51px;
  grid-template-columns: 17% 83%;
  align-items: start;
}

.orderNotes__ellipseImg-4 {
  grid-area: orderNotes__ellipseImg-4;
  justify-self: center;

  margin-top: 4px;
}

.orderNotes__rectangleImg-4 {
  grid-area: orderNotes__rectangleImg-4;
  justify-self: center;
}

.orderNotes__textContainer-4 {
  grid-area: orderNotes__textContainer-4;
}

.orderNotes__statusText-4 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;

  color: #000000;
}

.orderNotes__statusDate-4 {
  margin-top: 6px;
  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;

  color: #7A7A7A;
}

/* orderNotes__3 */

.orderNotes__status-3 {
  display: grid;
  grid-template-areas: 
    'orderNotes__ellipseImg-3 orderNotes__textContainer-3'
    'orderNotes__rectangleImg-3 orderNotes__textContainer-3';
  grid-template-rows: 14px 51px;
  grid-template-columns: 17% 83%;
  align-items: start;
}

.orderNotes__ellipseImg-3 {
  grid-area: orderNotes__ellipseImg-3;
  justify-self: center;

  margin-top: 4px;
}

.orderNotes__rectangleImg-3 {
  grid-area: orderNotes__rectangleImg-3;
  justify-self: center;
}

.orderNotes__textContainer-3 {
  grid-area: orderNotes__textContainer-3;
}

.orderNotes__statusText-3 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;

  color: #000000;
}

.orderNotes__statusDate-3 {
  margin-top: 6px;
  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;

  color: #7A7A7A;
}

/* orderNotes__2 */

.orderNotes__status-2 {
  display: grid;
  grid-template-areas: 
    'orderNotes__ellipseImg-2 orderNotes__textContainer-2'
    'orderNotes__rectangleImg-2 orderNotes__textContainer-2';
  grid-template-rows: 14px 51px;
  grid-template-columns: 17% 83%;
  align-items: start;
}

.orderNotes__ellipseImg-2 {
  grid-area: orderNotes__ellipseImg-2;
  justify-self: center;

  margin-top: 4px;
}

.orderNotes__rectangleImg-2 {
  grid-area: orderNotes__rectangleImg-2;
  justify-self: center;
}

.orderNotes__textContainer-2 {
  grid-area: orderNotes__textContainer-2;
}

.orderNotes__statusText-2 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;

  color: #000000;
}

.orderNotes__statusDate-2 {
  margin-top: 6px;
  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;

  color: #7A7A7A;
}

/* orderNotes__start */

.orderNotes__startStatus {
  display: grid;
  grid-template-areas: 
    'orderNotes__ellipseImg-start orderNotes__textContainer-start'
    '... orderNotes__textContainer-start';
  grid-template-rows: 14px 51px;
  grid-template-columns: 17% 83%;
  align-items: start;
}

.orderNotes__ellipseImg-start {
  grid-area: orderNotes__ellipseImg-start;
  justify-self: center;

  margin-top: 4px;
}

.orderNotes__textContainer-start {
  grid-area: orderNotes__textContainer-start;
}

.orderNotes__statusText-start {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;

  color: #000000;
}

.orderNotes__statusDate-start {
  margin-top: 6px;
  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;

  color: #7A7A7A;
}

/* ?foodMenu */

.foodMenu {
  display: grid;
  grid-template-areas: 
    'foodMenu__items ... foodMenu__qty foodMenu__price foodMenu__total_price ...'
    'grey_line grey_line grey_line grey_line grey_line grey_line'
    'foodMenu__item_img_1 foodMenu__item_descr_container_1 foodMenu__qty_1 foodMenu__price_1 foodMenu__total_price_1 foodMenu__delete_1'
    'foodMenu__item_img_2 foodMenu__item_descr_container_2 foodMenu__qty_2 foodMenu__price_2 foodMenu__total_price_2 foodMenu__delete_2'
    'foodMenu__item_img_3 foodMenu__item_descr_container_3 foodMenu__qty_3 foodMenu__price_3 foodMenu__total_price_3 foodMenu__delete_3';
  grid-template-rows: 15% 17px 100px 100px 100px;
  grid-template-columns: 15% 40% 13% 11% 11% 10%;
  align-items: center;
  margin-left: 34px;
  margin-right: 30px;
  
  background: #FFFFFF;
  border-radius: 18px;

  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;

  color: #000000;
}

.foodMenu__items {
  grid-area: foodMenu__items;

  margin-left: 30px;
}

.foodMenu__qty {
  grid-area: foodMenu__qty;
}

.foodMenu__price {
  grid-area: foodMenu__price;
}

.foodMenu__total_price {
  grid-area: foodMenu__total_price;
}

.grey_line {
  grid-area: grey_line;
  align-self: start;

  border: none;
  background: #E1E1E1;
  height: 2px;
}

.deleteImg:hover {
  cursor: pointer;
  position: relative;
  bottom: 2px;
}

/* item_1 */

.foodMenu__item_img_1 {
  grid-area: foodMenu__item_img_1;

  margin-left: 30px;
}

.foodMenu__item_img_1:hover {
  cursor: pointer;
}

.foodMenu__item_img_1 img {
  display: block;
}

.foodMenu__item_descr_container_1 {
  grid-area: foodMenu__item_descr_container_1;
  align-self: start;

  padding-top: 15px;
}

.foodMenu__item_descr_container_1:hover {
  cursor: pointer;
}

.foodMenu__item_courseType_1 {  
  padding-bottom: 9px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;

  color: #2F80ED;
}

.foodMenu__item_name_1 { 
  padding-bottom: 10px;
  
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.foodMenu__item_rating_1 {
  display: grid;
  grid-template-columns: repeat(5, 10px) auto;
  column-gap: 3px;
  align-items: center;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;

  color: #A7A7A7;
}

.foodMenu__item_ratingText_1 {
  padding-left: 7px;
}

.foodMenu__qty_1 {
  grid-area: foodMenu__qty_1;
}

.foodMenu__qty_1:hover {
  cursor: pointer;
}

.foodMenu__price_1 {
  grid-area: foodMenu__price_1;
}

.foodMenu__total_price_1 {
  grid-area: foodMenu__total_price_1;
}

.foodMenu__delete_1 {
  grid-area: foodMenu__delete_1;
}

/* item_2 */

.foodMenu__item_img_2 {
  grid-area: foodMenu__item_img_2;

  margin-left: 30px;
}

.foodMenu__item_img_2:hover {
  cursor: pointer;
} 

.foodMenu__item_img_2 img {
  display: block;
}

.foodMenu__item_descr_container_2 {
  grid-area: foodMenu__item_descr_container_2;
  align-self: start;

  padding-top: 15px;
}

.foodMenu__item_descr_container_2:hover {
  cursor: pointer;
}

.foodMenu__item_courseType_2 {  
  padding-bottom: 9px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;

  color: #2F80ED;
}

.foodMenu__item_name_2 { 
  padding-bottom: 10px;
  
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.foodMenu__item_rating_2 {
  display: grid;
  grid-template-columns: repeat(5, 10px) auto;
  column-gap: 3px;
  align-items: center;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;

  color: #A7A7A7;
}

.foodMenu__item_ratingText_2 {
  padding-left: 7px;
}

.foodMenu__qty_2 {
  grid-area: foodMenu__qty_2;
}

.foodMenu__qty_2:hover {
  cursor: pointer;
}

.foodMenu__price_2 {
  grid-area: foodMenu__price_2;
}

.foodMenu__total_price_2 {
  grid-area: foodMenu__total_price_2;
}

.foodMenu__delete_2 {
  grid-area: foodMenu__delete_2;
}

/* item_3 */

.foodMenu__item_img_3 {
  grid-area: foodMenu__item_img_3;

  margin-left: 30px;
}

.foodMenu__item_img_3:hover {
  cursor: pointer;
}

.foodMenu__item_img_3 img {
  display: block;
}

.foodMenu__item_descr_container_3 {
  grid-area: foodMenu__item_descr_container_3;
  align-self: start;

  padding-top: 15px;
}

.foodMenu__item_descr_container_3:hover {
  cursor: pointer;
}

.foodMenu__item_courseType_3 {  
  padding-bottom: 9px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;

  color: #2F80ED;
}

.foodMenu__item_name_3 { 
  padding-bottom: 10px;
  
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.foodMenu__item_rating_3 {
  display: grid;
  grid-template-columns: repeat(5, 10px) auto;
  column-gap: 3px;
  align-items: center;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;

  color: #A7A7A7;
}

.foodMenu__item_ratingText_3 {
  padding-left: 7px;
}

.foodMenu__qty_3 {
  grid-area: foodMenu__qty_3;
}

.foodMenu__qty_3:hover {
  cursor: pointer;
}

.foodMenu__price_3 {
  grid-area: foodMenu__price_3;
}

.foodMenu__total_price_3 {
  grid-area: foodMenu__total_price_3;
}

.foodMenu__delete_3 {
  grid-area: foodMenu__delete_3;
}

/* ?delivery */

.delivery {
  display: grid;
  grid-template-areas: 
    'delivery__mapContainer delivery__mapContainer delivery__mapContainer'
    'delivery__information ... ...'
    'delivery__person delivery__phone delivery__time';
  grid-template-rows: 67% 13% 20%;
  grid-template-columns: repeat(3, 1fr);

  margin-top: 25px;
  margin-bottom: 60px;
  margin-left: 34px;
  margin-right: 30px;
  
  background: #FFFFFF;
  border-radius: 18px;
}

.delivery img:hover {
  cursor: pointer;
}

.delivery__mapContainer {
  grid-area: delivery__mapContainer;

  margin-top: 18px;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 18px;

  background: url(../img/delivery/map.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.delivery__mapContainer:hover {
  cursor: pointer;
}

.delivery__information {
  grid-area: delivery__information;
  align-self: center;

  margin-left: 30px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;

  color: #000000;
}

/* delivery__person */

.delivery__person {
  grid-area: delivery__person;

  display: grid;
  grid-template-columns: 80px 75%;

  margin-left: 30px;
}

.delivery__person_imgContainer {
  position: relative;

  align-self: center;
}

.delivery__person_icon {
  position: absolute;
  top: 10px;
  left: 10px;
}

.delivery__person_textContainer {
  align-self: center;
}

.delivery__person_name {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 23px;

  color: #061737;
}

.delivery__person_rating {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;

  color: #898EBC;
}

/* delivery__phone */

.delivery__phone {
  grid-area: delivery__phone;
  justify-self: center;

  display: grid;
  grid-template-columns: 80px 75%;

}

.delivery__phone_imgContainer {
  position: relative;

  align-self: center;
}

.delivery__phone_circle {
  position: absolute;
  top: 10px;
  left: 10px;
  
  width: 50px;
  height: 50px;
  border-radius: 25px;
  box-shadow: 0px 10px 30px rgba(78, 96, 255, 0.25);
}

.delivery__phone_icon {
  position: absolute;
  top: 15px;
  left: 15px;
}

.delivery__phone_textContainer {
  align-self: center;
}

.delivery__phone_name {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 23px;

  color: #061737;
}

.delivery__phone_number {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;

  color: #898EBC;
}

/* delivery__time */

.delivery__time {
  grid-area: delivery__time;
  justify-self: center;

  display: grid;
  grid-template-columns: 80px 75%;
}

.delivery__time_imgContainer {
  position: relative;

  align-self: center;
}

.delivery__time_circle {
  position: absolute;
  top: 10px;
  left: 10px;
  
  width: 50px;
  height: 50px;
  border-radius: 25px;
  box-shadow: 0px 10px 30px rgba(78, 96, 255, 0.25);
}

.delivery__time_icon {
  position: absolute;
  top: 13px;
  left: 13px;
}

.delivery__time_textContainer {
  align-self: center;
}

.delivery__time_name {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 23px;

  color: #061737;
}

.delivery__time_time {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;

  color: #898EBC;
}